
 .nav {
        height: 70px;
        border-bottom: 1px solid black;
        display: flex;
        align-items: center;
      }

      .nav-right-items {
        display: flex;
        margin-left: auto;
      }

      .nav-item {
        margin-left: 10px;
      }

      .company-name {
        margin-left: 20px;
      }

      .title {
        text-align: center;
        font-size: 60px;
        font-weight: bold;
      }

      .subtitle {
        text-align: center;
        font-size: 33px;
        font-weight: 300px;
      }

      .main {
        width: 800px;
        margin: 0 auto;
        margin-top: 60px;
      }

      .prices {
        display: flex;
      }


      .price-item {
        width: 300px;
        height: 300px;
        border: 1px solid black;
        margin: 20px;
        border-radius: 4px;
        text-align: center;
      }

      .price-item-title {
        font-size: 20PX;
        background: green;
        height: 53px;
        line-height: 53px;
        border-bottom: 1px solid black;
      }

      .price-item-price {
        font-size: 20px;
        font-weight: bold;
        padding: 20px;
      }

      .price-item-button{
        padding: .5rem 1rem;
        font-size: 1.0rem;
        line-height: 1.0;
        border-radius: .3rem;
      }